<h1>States#filter</h1>
<%= form_for :states do |f| %>
    <%= f.text_field :searchkey, :placeholder => "Enter your keyword" %>
    <%= f.submit "Search" %>
<% end %>
<p>Search key: <%= @temp_searchkey %></p>
<p>Number of States: <%= $states.count %></p>
<h2>Found States</h2>
<p>Results: <%= $results.count %></p>
<% $results.each do |s| %>
    <p><%= s %></p>
<% end %>